@import '../../styles/color.css';
@import '../../styles/theme.scss';


.container {
    margin: 150px auto;
    flex-direction: column;
    @extend %flexCenterCenter;

    .inputContainer{
        .input {
            margin: 20px auto;
            width: 300px;
        }
    }

    .buttonContainer {
        @extend %flexBetweenCenter;
    }
}